
## Web Scrapping-3(A-1)

6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
ii) Top 10 women’s ODI players along with the records of their team and rating.
iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page

In [3]:
soup = BeautifulSoup(page.content)

In [4]:
teams = soup.find_all('span', class_= "u-hide-phablet")
teams[0].text.replace('\n','')

'Australia'

In [5]:
teams_name = []
for i in teams:
    teams_name.append(i.text.replace('\n',''))
teams_name[:10]

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [6]:
Matches = [soup.find("td", class_ = "rankings-block__banner--matches").text]
Points = [soup.find("td", class_ = 'rankings-block__banner--points').text]

In [7]:
for m,j in enumerate(soup.find_all("td", class_= "table-body__cell u-center-text")[:18]):
    if m%2 == 0:
        Matches.append(j.text)
    else:
        Points.append(j.text)

In [8]:
print("Matches: ",Matches)
print("Points :",Points)

Matches:  ['18', '24', '17', '20', '21', '12', '15', '5', '11', '2']
Points : ['2,955', '2,828', '1,993', '2,226', '1,947', '1,025', '1,101', '306', '519', '25']

In [9]:
Ratings = [soup.find("td", class_ = "rankings-block__banner--rating u-text-right").text.replace('\n','').strip()]
for r in soup.find_all("td", class_= "table-body__cell u-text-right rating")[:9]:
    Ratings.append(r.text)

In [10]:
print("Ratings :",Ratings)

Ratings : ['164', '118', '117', '111', '93', '85', '73', '61', '47', '13']

ii) Top 10 women’s ODI players along with the records of their team and rating.

In [11]:
page1 = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page1

In [12]:
soup2 = BeautifulSoup(page1.content)

In [13]:
Player_name = [soup2.find('div', class_='rankings-block__banner--name-large').text]
for n in soup2.find_all("td", class_= "table-body__cell rankings-table__name name")[:9]:
    Player_name.append(n.text.replace('\n',''))

In [14]:
Player_name

['Tammy Beaumont',
 'Lizelle Lee',
 'Alyssa Healy',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Mithali Raj',
 'Natalie Sciver',
 'Laura Wolvaardt']

In [15]:
player_team = [soup2.find('div', class_='rankings-block__banner--nationality').text.replace('\n','').strip()]
for p in soup2.find_all("td", class_="table-body__cell nationality-logo rankings-table__team")[:9]:
    player_team.append(p.text.strip())

In [16]:
player_team

['ENG', 'SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'ENG', 'SA']

In [17]:
player_rating = [soup2.find('div', class_='rankings-block__banner--rating').text.replace('\n','').strip()]
for r in soup2.find_all("td", class_="table-body__cell rating")[:9]:
    player_rating.append(r.text)

In [18]:
player_rating

['765', '758', '756', '746', '723', '715', '710', '709', '685', '683']

iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [19]:
page3 = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page3

In [20]:
soup3 = BeautifulSoup(page3.content)

In [21]:
Player_name1 = [soup3.find('div', class_='rankings-block__banner--name-large').text]
for l in soup3.find_all("td", class_= "table-body__cell rankings-table__name name")[:9]:
    Player_name1.append(l.text.replace('\n',''))

In [22]:
Player_name1

['Marizanne Kapp',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Natalie Sciver',
 'Deepti Sharma',
 'Jess Jonassen',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Sophie Devine',
 'Amelia Kerr']

In [23]:
player_team1 = [soup3.find('div', class_='rankings-block__banner--nationality').text.replace('\n','').strip()]
for k in soup3.find_all("td", class_="table-body__cell nationality-logo rankings-table__team")[:9]:
    player_team1.append(k.text.strip())

In [24]:
player_team1

['SA', 'AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'NZ']

In [25]:
player_rating1 = [soup3.find('div', class_='rankings-block__banner--rating').text.replace('\n','').strip()]
for r in soup3.find_all("td", class_="table-body__cell rating")[:9]:
    player_rating1.append(r.text)

In [26]:
player_rating1

['418', '418', '410', '349', '343', '307', '252', '243', '242', '236']

7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The 
scraped data should include Product Name, Price, Image URL and Average Rating.

In [27]:
amazon = requests.get("https://www.amazon.in/s?k=mobile+under+20000&crid=37FDBL0WWOABB&sprefix=mob%2Caps%2C393&ref=nb_sb_noss_2")
amazon

8. Write a python program to extract information about the local weather from the National Weather Service 
website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day 
extended forecast display for the city. The data should include period, short description, temperature and 
description.

In [28]:
weather = requests.get("https://forecast.weather.gov/MapClick.php?lat=37.7666&lon=-122.4511#.YMsnt2gzbIU")
weather

In [29]:
soup = BeautifulSoup(weather.content)

In [30]:
period = soup.find_all('p', class_='period-name')
for i in period:
    print(i.text.replace('\n',''))

Today
Tonight
Thursday
ThursdayNight
Friday
FridayNight
Saturday
SaturdayNight
Sunday

In [31]:
short_description = soup.find_all('p', class_='short-desc')
for s in short_description:
    print(s.text.replace('\n',''))

DecreasingClouds
IncreasingClouds
DecreasingClouds
IncreasingClouds
Partly Sunnythen MostlySunny andBreezy
Mostly Cloudyand Breezythen MostlyCloudy
Mostly Sunny
Partly Cloudy
Mostly Sunny

In [32]:
Temperature = []
for i in soup.find_all('p',class_='short-desc'):
    if i.next_sibling is not None:
        Temperature.append(i.next_sibling.text)
    else:
        Temperature.append(' ')

In [33]:
Temperature

['High: 68 °F',
 'Low: 55 °F',
 'High: 66 °F',
 'Low: 55 °F',
 'High: 66 °F',
 'Low: 56 °F',
 'High: 70 °F',
 'Low: 56 °F',
 'High: 70 °F']

In [34]:
Desc = soup.find_all('div', class_= 'col-sm-10 forecast-text')
for d in Desc:
    print(d.text)

Mostly cloudy, then gradually becoming sunny, with a high near 68. West southwest wind 5 to 10 mph increasing to 13 to 18 mph in the afternoon. Winds could gust as high as 23 mph.
Increasing clouds, with a low around 55. West wind 13 to 16 mph, with gusts as high as 21 mph.
Mostly cloudy, then gradually becoming sunny, with a high near 66. West wind 13 to 20 mph, with gusts as high as 25 mph.
Increasing clouds, with a low around 55. West wind 16 to 21 mph, with gusts as high as 26 mph.
Mostly sunny, with a high near 66. Breezy, with a west southwest wind 14 to 22 mph, with gusts as high as 28 mph.
Mostly cloudy, with a low around 56. Breezy.
Mostly sunny, with a high near 70.
Partly cloudy, with a low around 56.
Mostly sunny, with a high near 70.
Mostly cloudy, with a low around 56.
Mostly sunny, with a high near 70.
Partly cloudy, with a low around 57.
Mostly sunny, with a high near 71.

9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, 
company name, CTC, and apply date.

In [35]:
jobs = requests.get('https://internshala.com/fresher-jobs')
jobs

In [36]:
soup = BeautifulSoup(jobs.content)

In [37]:
job_title = soup.find_all('div', class_='heading_4_5 profile')
job_title[0].text.replace('\n','')

'Level 1 Technical Support Engineer '

In [38]:
JD = []
for j in job_title:
    JD.append(j.text.replace('\n',''))

In [39]:
JD

['Level 1 Technical Support Engineer ',
 'Associate Software Developer ',
 'Accounting Assistant ',
 'Software Engineer ',
 'Business Development Manager ',
 'Business Development Executive ',
 'Product Developer - Mathematics ',
 'Sales Development Representative ',
 'Full Stack Engineer ',
 'Junior ReactJS Developer ',
 'Marketing Manager ',
 'Product Marketing Associate ',
 'Administration Associate ',
 'Recruiter ',
 'Associate Software Developer ',
 'Project Coordinator ',
 'Web Developer ',
 'Software Engineer Trainee ',
 'Business Development Specialist (Sales & Marketing) ',
 'Business Development Executive ',
 'Associate Front End Developer ',
 'Corporate Sales Executive ',
 'Associate Software Developer (Full-Stack - React And Node) ',
 'Customer Relationship Specialist ',
 'Associate Editor Engagement ',
 'Management Consultant Associate ',
 'Web Analytics Developer ',
 'Junior Social Media Marketing Manager ',
 'Junior Social Media Marketing Associate ',
 'Business Development Manager (Digital Marketing Sales) ',
 'Business Development Executive ',
 'Accountant ',
 'Research Associate ',
 'Assistant Coordinator - Tender Department ',
 'Customer Relationship Manager (Publishing Consultant) ',
 'Executive Assistant To Director ',
 'Learning Consultant - Sales ',
 'School/Teacher Consultant ',
 'Software Developer ',
 'Business Development Executive (Inside Sales) ']

In [40]:
len(job_title)

40

In [41]:
company_name = soup.find_all('div', class_='heading_6 company_name')
companyname = []
for h in company_name:
    companyname.append(h.text.replace('\n','').strip())

In [42]:
companyname

['Mithi Software Technologies Private Limited',
 'White Blink',
 'Wono Inc',
 'Wono Inc',
 'Wono Inc',
 'Emertxe Information Technologies',
 'Open Door Education',
 'Content Beta',
 'Softway Solutions Private Limited',
 'DeepThought Edutech Ventures Private Limited',
 'Saltoro Coffee Roasters',
 'WebMOBI',
 'Global Sun',
 'Radish Consultants Private Limited',
 'Medico Healthcare Services & Technologies',
 'Edupixels',
 'Manufac Analytics Private Limited',
 'Swabhav Techlabs',
 'Claraeon Learning Private Limited',
 'Picostone',
 'AIMonk Labs Technology Limited',
 '369 Zoss Waters',
 'SleekSky LLC',
 'InPhase Power Technologies',
 'Cactus Communications Private Limited',
 'StrategyCo.Global',
 'DataVinci Private Limited',
 'The Test Tribe',
 'Glu Studios',
 'Graygraph Technologies LLC',
 'BookLeaf Publishing',
 'Ravi Ladia & Co',
 'Market Vistas Consumer Insights',
 'Global Source Trading LLC',
 'Blue Rose Publishers',
 'Best Roadways Limited',
 'Geekster',
 'InfyBytes AI Labs Private Limited',
 'Moxie.xyz',
 'GREedge']

In [43]:
len(companyname)

40

In [44]:
CTC = []
for i in soup.find_all('i',class_='ic-16-currency-inr'):
    if i.next_sibling is not None:
        CTC.append(i.next_sibling.strip())
    else:
        CTC.append(' ')

In [45]:
CTC

['3 LPA',
 '3 - 3.6 LPA',
 '5.4 - 6.1 LPA',
 '5.5 - 6.3 LPA',
 '5.2 - 5.8 LPA',
 '3 LPA',
 '7 - 8 LPA',
 '3 - 4 LPA',
 '5.5 - 9 LPA',
 '3 - 5 LPA',
 '3.2 - 3.5 LPA',
 '3 LPA',
 '3 - 3.2 LPA',
 '3 - 5 LPA',
 '3 - 3.2 LPA',
 '3 LPA',
 '3 - 4 LPA',
 '3 - 3.5 LPA',
 '3 LPA',
 '3 - 6.5 LPA',
 '6 - 7 LPA',
 '3 - 5 LPA',
 '4 LPA',
 '3 - 3.5 LPA',
 '3 - 4 LPA',
 '4.5 - 7 LPA',
 '4.99 - 5 LPA',
 '3 - 4 LPA',
 '3 - 3.6 LPA',
 '3 - 4.5 LPA',
 '3 - 3.6 LPA',
 '3 LPA',
 '3 - 3.25 LPA',
 '3 LPA',
 '3 - 3.5 LPA',
 '3 LPA',
 '3 - 3.5 LPA',
 '3 - 4 LPA',
 '9 LPA',
 '3.75 LPA']

In [46]:
len(CTC)

40

In [47]:
apply_date = []
for a in soup.find_all('div', class_='item_body', id = False):
    apply_date.append(a.text.replace('\n','')) if 'LPA' in a else apply_date.append(a.text.replace('\n','').strip())

In [48]:
final_date = apply_date[1::2]

In [49]:
final_date

["23 Jul' 21",
 "23 Jul' 21",
 "23 Jul' 21",
 "23 Jul' 21",
 "23 Jul' 21",
 "23 Jul' 21",
 "22 Jul' 21",
 "22 Jul' 21",
 "22 Jul' 21",
 "22 Jul' 21",
 "22 Jul' 21",
 "22 Jul' 21",
 "21 Jul' 21",
 "21 Jul' 21",
 "21 Jul' 21",
 "21 Jul' 21",
 "19 Jul' 21",
 "19 Jul' 21",
 "23 Jul' 21",
 "19 Jul' 21",
 "18 Jul' 21",
 "18 Jul' 21",
 "18 Jul' 21",
 "18 Jul' 21",
 "18 Jul' 21",
 "18 Jul' 21",
 "17 Jul' 21",
 "17 Jul' 21",
 "17 Jul' 21",
 "17 Jul' 21",
 "17 Jul' 21",
 "16 Jul' 21",
 "17 Jul' 21",
 "16 Jul' 21",
 "16 Jul' 21",
 "17 Jul' 21",
 "16 Jul' 21",
 "16 Jul' 21",
 "15 Jul' 21",
 "15 Jul' 21"]

In [50]:
len(final_date)

40